{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">
				Case n°{{numCase}} de {{case.plateau.nom}}
			</h2>
			<BR>
			<BR>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<dl>
				<dt>
					Descriptif du défi
				</dt>
				<dd>
					{{case.descriptifDefi}}
				</dd>				
				<dt>
					Consignes
				</dt>
				<dd>
					{{case.consignes}}
				</dd>

				<dt>
					Code de validation activé ?
				</dt>
				<dd>
					{% if case.codeValidation is null %}
					Non
					{% else %}
					Oui
					{% endif %}
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<ul class="list-group">
			  <li class="list-group-item">Ressources</li>

			 {% for ress in case.ressources %}
			  <li class="list-group-item list-group-item-light">{{ress.chemin}}</li>
			 {% endfor %}

			</ul>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			<BR>
			<blockquote class="blockquote">
				<p class="mb-0">
					Dans cette version les cases ne peuvent pas être modifiés.
				</p>
				<footer class="blockquote-footer">
					L'équipe <cite>LesRoisDu</cite>
				</footer>
			</blockquote>
		</div>
		<div class="col-md-2">
			<BR>
			<a href="{{ path('plateau', {'idPlateau' : case.plateau.id}) }}" class="btn btn-danger btn-block" role="button" aria-pressed="true">Retour au plateau</a>

		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

{% endblock %}
