{% extends 'monTemplate.html.twig' %}


{% block body %}
<!-- Wrapper -->
<div id="wrapper">


  <!-- Intro -->
  <section id="partie" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>CREER UNE PARTIE</h1>


      <section id="three" class="wrapper style1 fade-up">
        <div class="inner">

          {{form_start(vueFormulaireCreationPartie)}}
          {{ form_row(vueFormulaireCreationPartie.Nom)}}
          {{ form_row(vueFormulaireCreationPartie.Description)}}

        </div>

        <ul class="actions">
          <li><a href="{{path ('espace_plateau') }}" class="button submit">Valider</a></li>
          <li><a href="{{path ('creation_partie') }}" class="button submit">Annuler </a></li>
        </ul>

        </div>

    {{form_end(vueFormulaireCreationPartie)}}

  </section>


</div>
</section>

</div>

<script>
  var slider1 = document.getElementById("myRange");
  var output1 = document.getElementById("demo");
  output1.innerHTML = slider1.value;

  slider1.oninput = function () {
    output1.innerHTML = this.value;
  }

  var slider2 = document.getElementById("myEgnar");
  var output2 = document.getElementById("omed");
  output2.innerHTML = slider2.value;

  slider2.oninput = function () {
    output2.innerHTML = this.value;
  }

  var slider3 = document.getElementById("monRanch");
  var output3 = document.getElementById("aled");
  output3.innerHTML = slider3.value;

  slider3.oninput = function () {
    output3.innerHTML = this.value;
  }
</script>
{% endblock %}


{% block footer %}
{% endblock %}