{% extends 'monTemplate.html.twig' %}


{% block sidebar %}
<body class="is-preload">
  <!-- Sidebar -->
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="{{path('espace_plateau')}}">RETOUR</a></li>
        </ul>
      </nav>
    </div>
  </section>
  {% endblock %}

  {% block body %}
  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
    <section id="partie" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h1>SAISIR LES DEFIS {{plateau.nom}}</h1>
        <section id="three" class="wrapper style1 fade-up">
          <div class="inner">



                        <form id="defisForm" action="{{path('creation_cases', {'idPlateau': plateau.id})}}" method="post" >

                        {% for i in 1..plateau.nbCases %}


            <label for="descriptif{{i}}">Descriptif de la case n°{{i}}</label>
            <input type="text" name="descriptif{{i}}" id="descriptif{{i}}" minlength=10 maxlength=100 placeholder="Saisir le descriptif du défi." required>
            <BR>


            {% endfor %}

            <Br>

          <div class="row">
                    <div class="col-md-12">
             <input type="submit" href="" class="button" name="Valider ">
             <a href="{{ path('hub')}}" class="button scrolly">Annuler</a>
          </div>
        </div>
                </form>

          </div>


      </div>
    </section>
  </div>
  </section>

  </div>
  {% endblock %}


  {% block footer %}
  {% endblock %}