{% extends 'monTemplate.html.twig' %}

{% block sidebar %}
<body class="is-preload">
    <!-- Sidebar -->
      <section id="sidebar"> 



        <div class="inner">
          <nav>
            <ul>
                            <li><a href="{{path('hub')}}">RETOUR</a></li>
            </ul>
          </nav>
        </div>
      </section>

{% endblock %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper">


  <!-- Intro -->
  <section id="partie" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>CREER UNE PARTIE</h1>


      <section id="three" class="wrapper style1 fade-up">
        <div class="inner">

          {{form_start(vueFormulaireCreationPartie) }}
          {{ form_row(vueFormulaireCreationPartie.nom)}}
          {{ form_row(vueFormulaireCreationPartie.description)}}
          {{ form_row(vueFormulaireCreationPartie.nbPlateaux, { 'label' : 'Nombre de plateaux' })}}
          {{ form_row(vueFormulaireCreationPartie.nbPionParPlateau, { 'label' : 'Nombre de pions par plateau' })}}
          {{ form_row(vueFormulaireCreationPartie.nbFacesDe, { 'label' : 'Nombre de faces sur le dé' })}}
          {{ form_row(vueFormulaireCreationPartie.plateau, { 'label' : 'Plateau' })}}
         <Br>
          <ul class="actions">
                        <li><a href="" class="button submit">Valider la création </a></li>
                        <li><a href="{{ path('hub')}}" class="button">Annuler la création </a></li>
                    </ul>
        </div>

        <!-- <ul class="actions">
          <li><a href="" class="button submit">Valider</a></li>
          <li><a href="" class="button submit">Annuler </a></li>
        </ul> -->

        {{form_end(vueFormulaireCreationPartie)}}

    </div>

  </section>


</div>
</section>

</div>

<script>
  

</script>
{% endblock %}


{% block footer %}
{% endblock %}