{% extends 'monTemplate.html.twig' %}


{% block sidebar %}
<body class="is-preload">
  <!-- Sidebar -->
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="{{path('hub')}}">RETOUR</a></li>
        </ul>
      </nav>
    </div>
  </section>
  {% endblock %}

  {% block body %}
  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
    <section id="partie" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        {% if action == 'creer' %}
        <h1>CREER UN PLATEAU</h1>
        <section id="three" class="wrapper style1 fade-up">
          <div class="inner">

            {{form_start(vueFormulaireCreationPlateau) }}
            {{ form_row(vueFormulaireCreationPlateau.nom)}}
            {{ form_row(vueFormulaireCreationPlateau.description)}}
            {{ form_row(vueFormulaireCreationPlateau.niveauDifficulte, { 'label' : 'Niveau de difficulté' })}}
            {{ form_row(vueFormulaireCreationPlateau.nbCases, { 'label' : 'Taille du plateau (nombre de défis)' })}}
            <Br>

          <div class="row">
                    <div class="col-md-12">
             <a href="" class="button submit">Valider la création </a>
             <a href="{{ path('hub')}}" class="button scrolly">Annuler la création </a>
          </div>
        </div>

          </div>

          {{form_end(vueFormulaireCreationPlateau)}}

        {%else%}

        <h1>MODIFIER UN PLATEAU</h1>
        <section id="three" class="wrapper style1 fade-up">
          <div class="inner">

            {{form_start(vueFormulaireCreationPlateau) }}
            {{ form_row(vueFormulaireCreationPlateau.nom)}}
            {{ form_row(vueFormulaireCreationPlateau.description)}}
            {{ form_row(vueFormulaireCreationPlateau.niveauDifficulte, { 'label' : 'Niveau de difficulté' })}}
            <Br>

          <div class="row">
                    <div class="col-md-12">
             <a href="" class="button submit">Valider la modification </a>
             <a href="{{ path('parametres_plateau', {'idPlateau' : plateau.id}) }}" class="button scrolly">Annuler la modification </a>
          </div>
        </div>

          </div>

          {{form_end(vueFormulaireCreationPlateau)}}

        {% endif %}

      </div>
    </section>
  </div>
  </section>

  </div>
  {% endblock %}


  {% block footer %}
  {% endblock %}