{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="{{path ('hub')}}">ACCUEIL</a></li>
                    <li><a href="{{path ('espace_partie')}}">ESPACE PARTIES</a></li>
                    <li><a href="{{path ('espace_compte')}}">ESPACE COMPTE</a></li>
                    <li><a href="{{path ('app_logout')}}">SE DECONNECTER</a></li>
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>ESPACE PLATEAUX</h1><Br>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible show" role="alert">
                      {{message}}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    </div>
                {% endfor %}
                {% for message in app.flashes('echec') %}
                    <div class="alert alert-danger alert-dismissible show" role="alert">
                      {{message}}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    </div>
                {% endfor %}
                <BR>
 
                <a href="{{ path('creation_plateau') }}" class="button scrolly">CREER UN PLATEAU</a>
                <a onClick=ajouterSaisieCode() class="button scrolly"> AJOUTER UN PLATEAU EXISTANT</a>
                        <script type="text/javaScript">

                            function ajouterSaisieCode() {                             
                                document.getElementById('Cible').innerHTML ='<p>Saisir ci dessous le code du plateau à ajouter en respectant les minuscules et majuscules :</p>   <input id="inputRejoindre"  type="text"/><br>   <a href="" id="boutonRejoindre" class="button scrolly"> Ajouter</a>';
                                routeSaisie = true;
                            }

                            routeSaisie = false; //pour éviter d'essayer de regarder le code dans le input s'il n'est pas encre créé
                        
                            setInterval(function(){
                                if (routeSaisie) {
                                    var code = document.getElementById("inputRejoindre").value;
                                    var route = '/plateaux/ajouter' + code;
                                    document.getElementById("boutonRejoindre").setAttribute("href",route);
                                    //console.log(route);
                                }
                            }, 100);

                        </script> 

                    
                    <div id="Cible"></div>
                    <BR>


                <section id="one" class="wrapper style2 spotlights">


                    <!-- Boucle pour chaque plateau (à rajouter)-->

                    {% for plateau in plateaux %}

                        {% set nbCases = 0 %}
                        {% for uneCase in plateau.cases %}
                            {% set nbCases = nbCases + 1 %}
                        {% endfor %}

                    <section>
                        <a class="image"><img src="img/logoPLATEAU.jpg" alt=""
                                data-position="center center" /></a>
                        <div class="content">
                            <div class="inner">
                                <h2> {{plateau.nom}} </h2>
                                <p> {{plateau.description}} </p>
                                {% if nbCases == 0 %}

                                    <a href="{{path ('creation_cases', {'idPlateau': plateau.id}) }}"
                                            class="button">Saisir les défis</a>
                                    <a href="{{path ('annuler_plateau', {'idPlateau': plateau.id}) }}"
                                            class="button">Annuler la création</a>

                                {%else%}
                                    <a href="{{path ('plateau', {'idPlateau': plateau.id}) }}"
                                            class="button">Consulter</a>
                                {% endif %}
                            </div>
                        </div>
                    </section>

                    <!-- Fin boucle -->
                    {% endfor %}


            </div>
        </section>


    </div>
    {% endblock %}
