{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="{{path ('hub')}}">ACCUEIL</a></li>
                    <li><a href="{{path ('espace_partie')}}">ESPACE PARTIES</a></li>
                    <li><a href="{{path ('espace_compte')}}">ESPACE COMPTE</a></li>
                    <li><a href="{{path ('app_logout')}}">SE DECONNECTER</a></li>
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>ESPACE PLATEAUX</h1><Br>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible show" role="alert">
                      {{message}}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    </div>
                {% endfor %}
                {% for message in app.flashes('echec') %}
                    <div class="alert alert-danger alert-dismissible show" role="alert">
                      {{message}}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    </div>
                {% endfor %}
                <BR>
 
                <a href="{{ path('creation_plateau') }}" class="button scrolly">CREER UNE PLATEAU</a>
                <BR><BR>


                <section id="one" class="wrapper style2 spotlights">


                    <!-- Boucle pour chaque plateau (à rajouter)-->

                    {% for plateau in plateaux %}

                        {% set nbCases = 0 %}
                        {% for uneCase in plateau.cases %}
                            {% set nbCases = nbCases + 1 %}
                        {% endfor %}

                    <section>
                        <a class="image"><img src="img/logo.jpg" alt=""
                                data-position="center center" /></a>
                        <div class="content">
                            <div class="inner">
                                <h2> {{plateau.nom}} </h2>
                                <p> {{plateau.description}} </p>
                                {% if nbCases == 0 %}

                                    <a href="{{path ('creation_cases', {'idPlateau': plateau.id}) }}"
                                            class="button">Saisir les défis</a>

                                {%else%}
                                    <a href="{{path ('plateau', {'idPlateau': plateau.id}) }}"
                                            class="button">Consulter</a>
                                {% endif %}
                            </div>
                        </div>
                    </section>

                    <!-- Fin boucle -->
                    {% endfor %}


            </div>
        </section>


    </div>
    {% endblock %}
