{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="{{path ('hub')}}">ACCUEIL</a></li>
                    {% if utilisateur.estInvite == false %}
                    <li><a href="{{path ('espace_plateau')}}">ESPACE PLATEAUX</a></li>
                    <li><a href="{{path ('espace_compte')}}">ESPACE COMPTE</a></li>
                    {% endif %}
                    <li><a href="{{path ('app_logout')}}">SE DECONNECTER</a></li>
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}


    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>ESPACE PARTIES</h1>

                {% if erreur == 0 %}
                {% elseif erreur == 1 %}
                    <div class="alert alert-danger" role="alert">
                      Cette partie n'existe pas !
                    </div>
                {% elseif erreur == 2 %}
                    <div class="alert alert-danger" role="alert">
                      Vous ne pouvez pas rejoindre cette partie car le nombre maximum de joueur a été atteint !
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                      Partie rejointe avec succès !
                    </div>
                {%endif%}
                <BR>
 
                <ul class="actions">
                        {% if utilisateur.estInvite == false %}
                        <li><a href="{{ path('creation_partie') }}" class="button scrolly">CREER UNE PARTIE</a></li>
                        {%endif%}
                        <li><a onClick=ajouterSaisieCode() class="button scrolly"> REJOINDRE UNE PARTIE</a></li>
                        <script type="text/javaScript">

                            function ajouterSaisieCode() {                             
                                document.getElementById('Cible').innerHTML ='<p>Saisir ci dessous le code de la partie à rejoindre en respectant les minuscules et majuscules :</p>   <input id="inputRejoindre"  type="text"/><br>   <a href="" id="boutonRejoindre" class="button scrolly"> Accéder</a>';
                                routeSaisie = true;
                            }

                            routeSaisie = false; //pour éviter d'essayer de regarder le code dans le input s'il n'est pas encre créé
                        
                            setInterval(function(){
                                if (routeSaisie) {
                                    var code = document.getElementById("inputRejoindre").value;
                                    var route = '/parties/join' + code;
                                    document.getElementById("boutonRejoindre").setAttribute("href",route);
                                    //console.log(route);
                                }
                            }, 100);

                        </script> 

                    </ul>
                    <div id="Cible"></div>
                    <BR>

                <section id="one" class="wrapper style2 spotlights">
                    {% if utilisateur.estInvite == false %}
                    <BR>
                    <h2>
                        <center><strong><span style="text-decoration: underline;"> Parties créées </span> </strong>
                        </center>
                    </h2>


                    {% if partiesCree is empty %}
                    <center>Vous n'avez pas encore créé de parties.</center>

                    {% else %}
                    <!-- Boucle pour chaque partie créée  -->
                    {% for partie in partiesCree %}
                    <section>
                        <a href="#" class="image"><img src="img/LesRoisDuBad.png" alt=""
                                data-position="center center" /></a>
                        <div class="content">
                            <div class="inner">

                                <h2> {{ partie.nom }}</h2>
                                <p>{{ partie.description }} </p>
                                <ul class="actions">
                                    <li><a href="{{path ('partie_en_cours', {'idPartie': partie.id}) }}"
                                            class="button">Consulter</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!-- Fin boucle -->
                    {% endfor %}
                    {% endif %}
                    {% endif %}

                    <BR><br><br>
                    <h2>
                        <center><strong> <span style="text-decoration: underline;">Parties rejointes </span></strong>
                        </center>
                    </h2>



                    <!-- Boucle pour chaque partie rejointe  -->
                    {% if partiesRejoins is empty %}
                    <center>Vous n'avez pas encore rejoint de parties.</center>

                    {% else %}

                    {% for partie in partiesRejoins %}
                    <section>
                        <a href="#" class="image"><img src="img/LesRoisDuBad.png" alt=""
                                data-position="center center" /></a>
                        <div class="content">
                            <div class="inner">
                                {% for message in app.flashes('success') %}

                                <p> {{ message }}</p>

                                {% endfor %}

                                <h2> {{ partie.nom }}</h2>
                                <p>{{ partie.description }} </p>
                                <ul class="actions">
                                    <li><a href="{{path ('partie_en_cours', {'idPartie': partie.id}) }}"
                                            class="button">Jouer</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!-- Fin boucle -->
                    {% endfor %}
                    {% endif %}


            </div>
        </section>

    </div>
    {% endblock %}