{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                            <li><a href="{{path ('hub')}}">HUB</a></li>
                            <li><a href="{{path ('espace_plateau')}}">ESPACE PLATEAU</a></li>
                            <li><a href="{{path ('espace_compte')}}">ESPACE COMPTE</a></li>
                            <li><a href="{{path ('app_logout')}}">SE DECONNECTER</a></li>
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}


    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>ESPACE PARTIES</h1>



                <section id="one" class="wrapper style2 spotlights">

                <BR>
                <h2><center>Parties créées</center></h2>
                    <!-- Boucle pour chaque partie  -->
                    {% for partie in partiesCree %}
                    <section>
                        <a href="#" class="image"><img src="img/LesRoisDuBad.png" alt=""
                                data-position="center center" /></a>
                        <div class="content">
                            <div class="inner">

                                <h2> {{ partie.nom }}</h2>
                                <p>{{ partie.description }} </p>
                                <ul class="actions">
                                    <li><a href="{{path ('partie_en_cours', {'idPartie': partie.id}) }}"
                                            class="button">Consulter</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!-- Fin boucle -->
                    {% endfor %}


        <BR>
        <h2><center>Parties rejointes</center></h2>



                    <!-- Boucle pour chaque partie  -->
                    {% for partie in partiesRejoins %}
                    <section>
                        <a href="#" class="image"><img src="img/LesRoisDuBad.png" alt=""
                                data-position="center center" /></a>
                        <div class="content">
                            <div class="inner">
                                {% for message in app.flashes('success') %}

                                <p> {{ message }}</p>

                                {% endfor %}

                                <h2> {{ partie.nom }}</h2>
                                <p>{{ partie.description }} </p>
                                <ul class="actions">
                                    <li><a href="{{path ('partie_en_cours', {'idPartie': partie.id}) }}"
                                            class="button">Consulter</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!-- Fin boucle -->
                    {% endfor %}



    </div>
    </section>

    </div>
    {% endblock %}