{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">



        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#bienvenue">Bienvenue</a></li>
                    <li><a href="#partie">Parties</a></li>
                    {% if utilisateur.estInvite == false %}
                    <li><a href="#plateaux">Plateaux</a></li>
                    <li><a href="#compte">Compte</a></li>
                    {%endif%}
                    <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block header %}
    {% endblock %}

    {%block body%}

    <div id="wrapper">

        <section id="bienvenue" class="wrapper style1 fullscreen fade-up">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8">
                        <center><img alt="Avatar" src="{{utilisateur.avatar}}" />
                            <h3>
                                {{utilisateur.pseudo}}, bienvenue sur LesRoisDu !
                            </h3>
                        </center>
                        <p>
                            {% if utilisateur.estInvite == false %}
                            Les Rois du est une application à but pédagogique. Vous pouvez dès à présent créer des parties
                            à partir des plateaux déjà disponibles.
                            Des joueurs pourront ensuite la rejoindre et s'affronter dessus ! Vous trouverez sur le menu
                            de gauche tous les espaces disponibles relatifs à :
                            vos parties, vos plateaux ainsi qu'à votre compte.
                            Vous pouvez consulter le <a href="{{path('ButApplication')}}" >but de l'application</a> ainsi que des
                            <a href="{{path('aides')}}" >aides concernant le fonctionnement de l'application</a> à tout moment depuis
                            les liens présents dans le pied de page ou directement depuis les liens de cette phrase.


                            {% else %}
                            LesRoisDu est une application à but pédagogique. Vous pouvez dès à présent rejoindre des
                            parties et vous affronter dessus !
                            Vous trouverez sur le menu à gauche l'espace relatif aux parties.
                            Pour pouvoir créer des parties et avoir accès à plus de contenu, il vous faut créer un
                            compte personnel. Vous pouvez consulter les <a href="{{path('ButApplication')}}" >but de l'applicatio</a> ainsi que des
                            <a href="{{path('aides')}}" >aides concernant le fonctionnement de l'application</a> à tout moment depuis
                            les liens présents dans le pied de page ou directement depuis les liens de cette phrase.

                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
        </section>
        <!-- Intro -->
        <section id="partie" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <div class="row">
                    <div class="col-md-12">
                <h1>Parties</h1>
                <p>C'est par ici pour les parties !</p>


                    <a href="{{ path('espace_partie') }}" class="button scrolly"> CONSULTER LA LISTE DES PARTIES
                        </a>
                    {% if utilisateur.estInvite == false %}
                    <a href="{{ path('creation_partie') }}" class="button scrolly">CREER UNE PARTIE</a>
                    {%endif%}
                    <a onClick=ajouterSaisieCode() class="button scrolly"> REJOINDRE UNE PARTIE</a>
                    <script type="text/javaScript">

                            function ajouterSaisieCode() {
                                document.getElementById('Cible').innerHTML ='<p>Saisir ci dessous le code de la partie à rejoindre en respectant les minuscules et majuscules :</p>   <input id="inputRejoindre"  type="text"/><br>   <a href="" id="boutonRejoindre" class="button scrolly"> Accéder</a>';
                                routeSaisie = true;
                            }

                            routeSaisie = false; // Pour éviter d'essayer de regarder le code dans le input s'il n'est pas encre créé

                            setInterval(function(){
                                if (routeSaisie) {
                                    var code = document.getElementById("inputRejoindre").value;
                                    var route = '/parties/join' + code;
                                    document.getElementById("boutonRejoindre").setAttribute("href",route);
                                }
                            }, 100);

                        </script>


                <div id="Cible"></div>
            </div>
        </div>
            </div>
        </section>

        <!-- Intro -->
        {% if utilisateur.estInvite == false %}
        <section id="plateaux" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <div class="row">
                    <div class="col-md-12">
                <h1>Plateaux</h1>
                <p>C'est par ici pour les plateaux !</p>
                <ul class="actions">
                    <li><a href="{{ path('espace_plateau') }}" class="button scrolly">CONSULTER LA LISTE DES
                            PLATEAUX</a></li>
                </ul>
            </div>
        </div>
            </div>
        </section>

        <!-- Intro -->
        <section id="compte" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <div class="row">
                    <div class="col-md-12">
                <h1>Compte utilisateur</h1>
                <p>C'est par ici pour consulter son compte !</p>
                <ul class="actions">
                    <li><a href="{{ path('espace_compte') }}" class="button scrolly">MON COMPTE</a></li>
                </ul>
            </div>
        </div>
    </div>
        </section>
        {%endif%}

    </div>
    {%endblock%}
