{% extends 'monTemplate.html.twig' %}




{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>

                    <li><a href="{{ path('accueil')}}">ACCUEIL</a></li>
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}

    <div id="wrapper">
        <!-- Three -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">

                <h2>S'inscrire</h2>
                <p>Si vous ne souhaitez pas vous inscrire, vous pouvez vous connecter en tant qu'invité (dans la section
                    "Connexion") sans rentrer vos informations personnelles.</p>


                <div class="fields">

                    {{form_start(vueFormulaireInscription) }}
                           

                    <div class="field half">
                        {{form_row(vueFormulaireInscription.email)}}
                    </div>
                    <div class="field half">
                        {{form_row(vueFormulaireInscription.pseudo)}}
                    </div>

                    <div class="field half">
                        {{form_row(vueFormulaireInscription.plainPassword)}}
                    </div>

                    <ul class="actions">
                        <li><a href="" class="button submit">Valider l'inscription </a></li>
                        <li><a href="{{ path('accueil')}}" class="button">Annuler l'inscription </a></li>
                    </ul>


                    {{form_end(vueFormulaireInscription)}}


                </div>
        </section>

        {% endblock %}