{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>

                    <li><a href="{{ path('accueil')}}">ACCUEIL</a></li>
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}

    <div id="wrapper">
        <!-- Three -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">

                <h2>S'inscrire</h2>

                <p> Si vous ne souhaitez <strong> pas renseigner d'informations personnelles</strong>, vous devez vous
                    connecter en tant qu'<strong>invité</strong> (avec le bouton
                    <a href="{{ path('accueil')}}">"Se connecter"</a>). Un compte invité offre <strong>moins
                        de possibilités</strong> qu'un compte personnel.
                    Il vous permettra seulement de <strong>rejoindre des parties</strong> et de <strong>jouer</strong>
                    dessus.</p>
                    <p>Pour vous inscrire vous devez lire et accepter les  <a href="{{ path('CGU')}}">conditions générales d'utilisation.</a></p>

                <div class="fields">

                    {{form_start(vueFormulaireInscription) }}

                    <p> Tous les champs sont obligatoires. <br>
                        Le mot de passe doit faire au minimum 6 caractères. </p>

                    <div class="field half">
                        {{form_row(vueFormulaireInscription.email)}}
                    </div>


                    <div class="field half">
                        {{form_row(vueFormulaireInscription.pseudo, {'label':'Pseudo (éviter de renseigner son nom ou prénom)'}) }}
                    </div>

                    <div class="field half">
                        {{form_row(vueFormulaireInscription.plainPassword)}}
                    </div>

                    <div class="field half">
                        {{form_row(vueFormulaireInscription.termsAccepted)}}
                    </div>

                    <div class="row">
                    <div class="col-md-12">
             <a href="" class="button submit">Valider l'inscription </a>
             <a href="{{ path('accueil')}}" class="button scrolly">Annuler l'inscription </a>
          </div>
        </div>



                    {{form_end(vueFormulaireInscription)}}


                </div>
        </section>

        {% endblock %}
