{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center" style="color: #D5D0CF">
				Paramètres {{plateau.nom}}
			</h2>
			<BR>
			<BR>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<dl>
				<dt style="color: #D5D0CF">
					Nom du plateau
				</dt>
				<dd style="color: #D5D0CF">
					{{plateau.nom}}
				</dd>
				<dt style="color: #D5D0CF">
					Niveau de difficulté
				</dt>
				<dd style="color: #D5D0CF">
					{{plateau.niveauDifficulte}}
				</dd>
				<dt style="color: #D5D0CF">
					Nombre de cases
				</dt>
				<dd style="color: #D5D0CF">
					{% set nbCases = 0 %}
					{% for uneCase in plateau.cases %}
						{% set nbCases = nbCases + 1 %}
					{% endfor %}
					{{nbCases}}
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<dl>
				<dt style="color: #D5D0CF">
					Description du plateau
				</dt>
				<dd style="color: #D5D0CF">
					{{plateau.description}}
				</dd>
			</dl>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			<BR>
			<blockquote class="blockquote" style="color: #D5D0CF">
				<p class="mb-0">
					Dans cette version les paramètres ne peuvent pas être modifiés.
				</p>
				<footer class="blockquote-footer" style="color: #D5D0CF">
					L'équipe <cite>LesRoisDu</cite>
				</footer>
			</blockquote>
		</div>
		<div class="col-md-1">
			<a href="{{ path('plateau', {'idPlateau' : plateau.id}) }}" class="btn btn-danger btn-block" role="button" aria-pressed="true">Retour</a>

		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-success btn-block" disabled>Valider</button>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

{% endblock %}
