{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center" style="color: #D5D0CF">
				Paramètres {{partie.nom}}
			</h2>
			<BR>
			<BR>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">

		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-warning btn-block" disabled>Reinitialiser la partie</button>
			<BR>
			<BR>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-2">
			<div class="alert alert-warning" style="display: none">
			    <!--<button type="button" class="close" id="fermer">&times;</button>-->
			    <h4 class="alert-heading">Attention!</h4> 
			    <p>Êtes vous sure de vouloir supprimer la partie ?</p>
			    <!--<button type="button" class="close btn btn-danger" id="fermer">Non</button>-->
			    <a href="{{ path('parametres_partie', {'idPartie' : partie.id}) }}" class="btn btn-danger" role="button" aria-pressed="true">Non</a>
			    <a href="{{ path('supprimer_partie', {'idPartie' : partie.id}) }}" class="btn btn-success" role="button" aria-pressed="true">Oui</a>
			    <!--<button type="button" class="btn btn-success">Oui</button>-->
			    
			  </div>
			  <input type="button" class="btn btn-danger btn-block" value="Supprimer la partie">
			</div>
			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
			<script>  
			  $(function (){
			    $("input.btn").click(function() {
			      $("input.btn").hide("slow")
			      $(".alert").show("slow")
			    })
			    $(".close").click(function() {
			      $(".alert").hide("slow")
			      $("input.btn").show()
			    })
			  })
			</script>
			<BR>
			<BR>
		</div>
		<div class="col-md-2">

		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<dl>
				<dt style="color: #D5D0CF">
					Nom de la partie
				</dt>
				<dd style="color: #D5D0CF">
					{{partie.nom}}
				</dd>
				<dt style="color: #D5D0CF">
					Nombre de plateaux
				</dt>
				<dd style="color: #D5D0CF">
					1
				</dd>
				<dt style="color: #D5D0CF">
					Nombre de pions
				</dt>
				<dd style="color: #D5D0CF">
					4
				</dd>
				<dt style="color: #D5D0CF">
					Nombre de faces sur le dé
				</dt>
				<dd style="color: #D5D0CF">
					3
				</dd>
				
			</dl>
		</div>
		<div class="col-md-4">
			<dl>
				<dt style="color: #D5D0CF">
					Description du plateau
				</dt>
				<dd style="color: #D5D0CF">
					{{partie.description}}
				</dd>
				<dt style="color: #D5D0CF">
					Code d'invitation
				</dt>
				<dd style="color: #D5D0CF">
					{{partie.code}}
				</dd>
			</dl>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			<BR>
			<blockquote class="blockquote" style="color: #D5D0CF">
				<p class="mb-0">
					Dans cette version les paramètres ne peuvent pas être modifiés.
				</p>
				<footer class="blockquote-footer" style="color: #D5D0CF">
					L'équipe <cite>LesRoisDu</cite>
				</footer>
			</blockquote>
		</div>
		<div class="col-md-1">
			<a href="{{ path('partie_en_cours', {'idPartie' : partie.id}) }}" class="btn btn-danger btn-block" role="button" aria-pressed="true">Retour</a>

		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-success btn-block" disabled>Valider</button>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

{% endblock %}
