{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center" style="color: #D5D0CF">
				Paramètres {{partie.nom}}
			</h2>
			<BR>
			<BR>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">

		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-warning btn-block" disabled>Reinitialiser la partie</button>
			<BR>
			<BR>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-danger btn-block" disabled>Supprimer la partie</button>
			<BR>
			<BR>
		</div>
		<div class="col-md-2">

		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<dl>
				<dt style="color: #D5D0CF">
					Nom de la partie
				</dt>
				<dd style="color: #D5D0CF">
					{{partie.nom}}
				</dd>
				<dt style="color: #D5D0CF">
					Nombre de plateaux
				</dt>
				<dd style="color: #D5D0CF">
					1
				</dd>
				<dt style="color: #D5D0CF">
					Nombre de pions
				</dt>
				<dd style="color: #D5D0CF">
					4
				</dd>
				<dt style="color: #D5D0CF">
					Nombre de faces sur le dé
				</dt>
				<dd style="color: #D5D0CF">
					3
				</dd>
				
			</dl>
		</div>
		<div class="col-md-4">
			<dl>
				<dt style="color: #D5D0CF">
					Description du plateau
				</dt>
				<dd style="color: #D5D0CF">
					{{partie.description}}
				</dd>
				<dt style="color: #D5D0CF">
					Code d'invitation
				</dt>
				<dd style="color: #D5D0CF">
					{{partie.code}}
				</dd>
			</dl>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			<BR>
			<blockquote class="blockquote" style="color: #D5D0CF">
				<p class="mb-0">
					Dans cette version les paramètres ne peuvent pas être modifiés.
				</p>
				<footer class="blockquote-footer" style="color: #D5D0CF">
					L'équipe <cite>LesRoisDu</cite>
				</footer>
			</blockquote>
		</div>
		<div class="col-md-1">
			<a href="{{ path('partie_en_cours', {'idPartie' : partie.id}) }}" class="btn btn-danger btn-block" role="button" aria-pressed="true">Retour</a>

		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-success btn-block" disabled>Valider</button>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

{% endblock %}
