{% extends 'monTemplate.html.twig' %}




{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>

                    <li><a href="{{ path('espace_partie')}}">RETOUR à l'espace partie</a></li>
                    {% for part in partiesCree %}
                    <li><a href="{{ path('partie_en_cours', {'idPartie' : part.id}) }}">{{part.nom}}</a></li>
                    {%endfor%}
                    {% for part in partiesRejoins %}
                    <li><a href="{{ path('partie_en_cours', {'idPartie' : part.id}) }}">{{part.nom}}</a></li>
                    {%endfor%}
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}

    <div id="wrapper">

                
               

        
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h2><center>{{partie.nom}}</center></h2>
                <div class="row">
              
                <div class="col-md-3">
                   
                    </div>

                    {% if partie.plateauDeJeu.joueur is not null %}
                        {% if utilisateur.pseudo == partie.plateauDeJeu.joueur.pseudo %}
                        <div class="col-md-12">
                            <p> Pour jouer il vous suffit de sélectionner un pion puis le lancer le dé. Votre pion se déplacera du nombre 
                            cases obtenues ! Un fois le pion arrivé sur la case, vous pouvez accéder au défi en cliquant dessus. </p>
                        </div>
                        {%endif%}
                    {%endif%}    
                    <div class="col-md-1">

                    {% if utilisateur.pseudo == partie.createur.pseudo %}
                    <ul class="actions">
                    <a role="button" href="{{ path('parametres_partie', {'idPartie' : partie.id}) }}" class="btn button scrolly">
                        Paramètres
                    </a>
                    {% else %}
                   
                    {% endif %}

                </div>
                <div class="col-md-2">
                    </div>
            </div>
            <br>


                 <canvas id="canvas" >Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.</canvas>

                            <script> var assetsBaseDir = "{{ asset('tilemap/') }}"</script>
            <script type="text/javascript" src="{{asset('tilemap/js/XmlHttpRequest.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/toolBox.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/input.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Parcours.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/game.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/De.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Pion.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Case.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Tileset.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Map.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/main.js')}}"></script>

            <br>
            <p>Créateur de la partie: {{partie.createur.pseudo}}<br>
            Joueur: {% if partie.plateauDeJeu.joueur is null %} {% else %}{{partie.plateauDeJeu.joueur.pseudo}}{% endif %}</p>

            


                </div>
        </section>

        {% endblock %}

