{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>

                    <li><a href="{{ path('espace_partie')}}">RETOUR à l'espace parties</a></li>
                    {% for part in partiesCree %}
                    <li><a href="{{ path('partie_en_cours', {'idPartie' : part.id}) }}">{{part.nom}}</a></li>
                    {%endfor%}
                    {% for part in partiesRejoins %}
                    <li><a href="{{ path('partie_en_cours', {'idPartie' : part.id}) }}">{{part.nom}}</a></li>
                    {%endfor%}
                </ul>
            </nav>
        </div>
    </section>
    {% endblock %}

    {% block body %}
    <div id="wrapper">
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h2>
                    <center>{{partie.nom}}</center>
                </h2>
                <div class="row">
                    <div class="col-md-12">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible show" role="alert">
                              {{message}}
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            </div>
                        {% endfor %}
                {% if partie.plateauDeJeu.joueur is not null %}
                    {% if utilisateur.pseudo == partie.plateauDeJeu.joueur.pseudo %}

                        <p> Pour jouer il faut sélectionner un pion puis lancer le dé en cliquant dessus. Votre pion se
                            déplacera du nombre
                            cases obtenues. Vous pouvez accéder au défi en cliquant
                           sur la case correspondante. Une fois arrivé à la derniere case, le pion ne pourra plus être déplacé.</p>
                    </div>
                </div>
                    {%endif%}
                    {%endif%}
                <div class="row">

                    <div class="col-md-8">

                    </div>

                    <div class="col-md-4">

                        {% if utilisateur.pseudo == partie.createur.pseudo %}
                        <ul class="actions">
                            <li><a role="button" href="{{ path('parametres_partie', {'idPartie' : partie.id}) }}"
                                class="btn button scrolly">
                                Paramètres
                            </a></li>

                        </ul>
                        {% else %}
                        {%endif%}


                    </div>

                </div>
                <br>


                <canvas id="canvas">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour
                    jouer.</canvas>

                <link rel="stylesheet" href="{{asset('tilemap/css/style.css')}}" />


                <script type="text/javascript">
                  var idPartie = {{ partie.id }};
                  var parametres = 'http://iparla.iutbayonne.univ-pau.fr:8003/api/partie/' + idPartie;
                </script>

                <script> var assetsBaseDir = "{{ asset('tilemap/') }}"</script>
                <script type="text/javascript" src="{{asset('tilemap/js/XmlHttpRequest.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/ToolBox.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/input.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Parcours.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/game.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/De.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Pion.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Case.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Tileset.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Map.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/main.js')}}"></script>



                <br><br>
                <div class="row">

                    <div class="col-md-6">

                        <p id="creaJoueur"></p>
                        <script type="text/javascript">
                            setInterval(function ()
                            {
                                fetch(parametres)
                                .then(response => {
                                    return response.json()
                                })
                                .then(data => {
                                    document.getElementById("creaJoueur").innerHTML = "<ul><li>Créateur de la partie: " + data["createur"] + " </li><li>Joueur: " + data["joueur"] + "</li></ul>";
                                })
                        }, 5000);
                        </script>
                        <br>

                    </div>

                    <div class="col-md-6">

                        {% if utilisateur.pseudo == partie.createur.pseudo %}


                            <a role="button" href="{{ path('reinitialiser_position', {'idPartie' : partie.id}) }}"
                                class="btn button scrolly">
                                Reinitialiser la position des pions
                            </a>
                            <br><BR>
                            {% if partie.plateauDeJeu.joueur is not null %}
                                <div class="alert alert-warning" style="display: none">
                                
                                <h4 class="alert-heading">Attention!</h4>
                                <p>Êtes vous sûr de vouloir exclure le joueur ?</p>
        
                                <a style="color:aliceblue" class="btn btn-danger fermeture" role="button"
                                    aria-pressed="true">Non</a>
                                <a href="{{ path('exclure_joueur', {'idPartie' : partie.id}) }}"
                                    class="btn btn-success" role="button" aria-pressed="true">Oui</a>
                                

                            </div>
                            <input type="button" class="btn button scrolly" value="Exclure le joueur">
                            {%else%}
                                <a role="button" href="{{ path('exclure_joueur', {'idPartie' : partie.id}) }}"
                                    class="btn button scrolly disabled">
                                    Exclure le joueur
                                </a>
                            {%endif%}
                            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                                <script>
                                    $(function () {
                                        $("input.btn").click(function () {
                                            $("input.btn").hide("slow")
                                            $(".alert").show("slow")
                                        })
                                        $(".fermeture").click(function () {
                                            $(".alert").hide("slow")
                                            $("input.btn").show()
                                        })
                                    })
                                </script>


                        {% else %}
                        {%endif%}

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <a href="{{ path('espace_partie') }}"> Retourner à l'espace partie </a>
                    </div>
              </div>




            </div>
        </section>
        </div>

        {% endblock %}
