{% extends 'base.html.twig' %}

{% block body %}


	{% set nbCases = 0 %}
	{% for uneCase in plateau.cases %}
		{% set nbCases = nbCases + 1 %}
	{% endfor %}


	<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<ul class="nav flex-column nav-tabs">
				{% for plat in plateaux %}
				<li class="nav-item">
					<a class="nav-link active" style="background-color: #D5D0CF;" href="{{ path('plateau', {'idPlateau' : plat.id}) }}">{{plat.nom}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				<h1 style="color:#D5D0CF"><center>{{plateau.nom}}</center></h1>
				<BR>
				<BR>
				</div>
				<div class="col-md-4">
					<a role="button" href="{{ path('parametres_plateau', {'idPlateau' : plateau.id}) }}" class="btn btn-light">
						Paramètres
					</a>
				</div>
			</div>

			{% if nbCases == 12 %}
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>

  											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[0].id, 'numCase' : 1}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[5].id, 'numCase' : 6}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[6].id, 'numCase' : 7}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[7].id, 'numCase' : 8}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[8].id, 'numCase' : 9}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
					
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[9].id, 'numCase' : 10}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[1].id, 'numCase' : 2}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[2].id, 'numCase' : 3}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[3].id, 'numCase' : 4}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[4].id, 'numCase' : 5}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[10].id, 'numCase' : 11}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-1 bg-case">
					<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
					
										<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[11].id, 'numCase' : 12}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			{% endif %}

			{% if nbCases == 13 %}
			<div class="row"> 
				<div class="col-md-2">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[2].id, 'numCase' : 3}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[3].id, 'numCase' : 4}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[4].id, 'numCase' : 5}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-3">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[10].id, 'numCase' : 11}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[11].id, 'numCase' : 12}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[12].id, 'numCase' : 13}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[0].id, 'numCase' : 1}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[1].id, 'numCase' : 2}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-1">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[5].id, 'numCase' : 6}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[6].id, 'numCase' : 7}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[7].id, 'numCase' : 8}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[8].id, 'numCase' : 9}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[9].id, 'numCase' : 10}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-3">
				</div>
			</div>		
			{% endif %}

			{% if nbCases == 14 %}
			<div class="row">
				<div class="col-md-1">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[0].id, 'numCase' : 1}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-1">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[4].id, 'numCase' : 5}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[5].id, 'numCase' : 6}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[6].id, 'numCase' : 7}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-2">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[11].id, 'numCase' : 12}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[12].id, 'numCase' : 13}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[13].id, 'numCase' : 14}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[1].id, 'numCase' : 2}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[2].id, 'numCase' : 3}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[3].id, 'numCase' : 4}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-1">
				</div>
					
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[7].id, 'numCase' : 8}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[8].id, 'numCase' : 9}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[9].id, 'numCase' : 10}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[10].id, 'numCase' : 11}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
				<div class="col-md-3">
				</div>
			</div>
			{% endif %}

			{% if nbCases == 15 %}
				<div class="row">
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[0].id, 'numCase' : 1}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-2">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[7].id, 'numCase' : 8}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[8].id, 'numCase' : 9}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[9].id, 'numCase' : 10}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[13].id, 'numCase' : 14}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
															
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[14].id, 'numCase' : 15}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-2">
					</div>

				</div>
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[1].id, 'numCase' : 2}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[2].id, 'numCase' : 3}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[6].id, 'numCase' : 7}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[10].id, 'numCase' : 11}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[11].id, 'numCase' : 12}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[12].id, 'numCase' : 13}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[3].id, 'numCase' : 4}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>						
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[4].id, 'numCase' : 5}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[5].id, 'numCase' : 6}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-7">
					</div>
				</div>
			{% endif %}

			{% if nbCases == 16 %}
				<div class="row">
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[0].id, 'numCase' : 1}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[1].id, 'numCase' : 2}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[2].id, 'numCase' : 3}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[3].id, 'numCase' : 4}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[9].id, 'numCase' : 10}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[10].id, 'numCase' : 11}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
															
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[11].id, 'numCase' : 12}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[4].id, 'numCase' : 5}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[8].id, 'numCase' : 9}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
															
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[12].id, 'numCase' : 13}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[5].id, 'numCase' : 6}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[6].id, 'numCase' : 7}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[7].id, 'numCase' : 8}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[13].id, 'numCase' : 14}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[14].id, 'numCase' : 15}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
															
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[15].id, 'numCase' : 16}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
				</div>
			{% endif %}

			{% if nbCases == 17 %}
			<div class="row">
					<div class="col-md-2">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[3].id, 'numCase' : 4}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[4].id, 'numCase' : 5}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[5].id, 'numCase' : 6}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[11].id, 'numCase' : 12}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[12].id, 'numCase' : 13}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
															
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[13].id, 'numCase' : 14}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[2].id, 'numCase' : 3}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[6].id, 'numCase' : 7}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[10].id, 'numCase' : 11}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[14].id, 'numCase' : 15}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[15].id, 'numCase' : 16}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
															
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[16].id, 'numCase' : 17}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[0].id, 'numCase' : 1}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[1].id, 'numCase' : 2}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-1">
					</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[7].id, 'numCase' : 8}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[8].id, 'numCase' : 9}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
								<div class="col-md-1 bg-case">
									<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
															
														<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[9].id, 'numCase' : 10}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
								</div>
					<div class="col-md-5">
					</div>
				</div>
			{% endif %}


			{% if nbCases == 18 %}
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[0].id, 'numCase' : 1}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[6].id, 'numCase' : 7}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[7].id, 'numCase' : 8}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[8].id, 'numCase' : 9}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[9].id, 'numCase' : 10}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-2">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[16].id, 'numCase' : 17}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[17].id, 'numCase' : 18}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1">
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[1].id, 'numCase' : 2}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[5].id, 'numCase' : 6}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-2">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[10].id, 'numCase' : 11}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[11].id, 'numCase' : 12}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[15].id, 'numCase' : 16}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		</div>
					<div class="col-md-2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[2].id, 'numCase' : 3}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[3].id, 'numCase' : 4}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[4].id, 'numCase' : 5}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		</div>
					<div class="col-md-3">
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[12].id, 'numCase' : 13}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		
					</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[13].id, 'numCase' : 14}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		</div>
					<div class="col-md-1 bg-case">
						<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
						
											<a href="{{ path('consultation_case', {'idPlateau' : plateau.id, 'idCase' : plateau.cases[14].id, 'numCase' : 15}) }}">
  						<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
					</a>		</div>
					<div class="col-md-2">
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</div>
</div>


{% endblock %}
