{% extends 'monTemplate.html.twig' %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="{{ path('espace_plateau')}}">RETOUR à l'espace plateau</a></li>
                    {% for plat in utilisateur.plateaux %}
                    <li><a href="{{ path('plateau', {'idPlateau' : plat.id}) }}">{{plat.nom}}</a></li>
                    {%endfor%}
                </ul>
            </nav>
        </div>
    </section>

    {% endblock %}

    {% block body %}

    <div id="wrapper">

        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h2>
                    <center>{{plateau.nom}}</center>
                </h2>
                <div class="row">

                    <div class="col-md-3">
                        <button type="button" class="button scrolly" disabled>
                            Partager plateau
                        </button>
                    </div>
                    <div class="col-md-6">
                    </div>

                    <div class="col-md-1">

                        <a role="button" href="{{ path('parametres_plateau', {'idPlateau' : plateau.id}) }}"
                            class="btn button scrolly">
                            Paramètres
                        </a>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <br>


                <canvas id="canvas">Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour
                    jouer.</canvas>


                <link rel="stylesheet" href="{{asset('tilemap/css/style.css')}}" />
                <script type="text/javascript">
                  var idPlateau = {{ plateau.id }};
                  console.log(idPlateau);
                  var parametres = 'http://iparla.iutbayonne.univ-pau.fr:8001/api/plateaux/' + idPlateau;
                </script>

                <script>
                var assetsBaseDir = "{{ asset('tilemap/') }}"
                </script>
                <script type="text/javascript" src="{{asset('tilemap/js/XmlHttpRequest.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/ToolBox.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/inputForPlateau.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Parcours.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/plateau.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Case.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/Tileset.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/classes/MapForPlateau.js')}}"></script>
                <script type="text/javascript" src="{{asset('tilemap/js/main.js')}}"></script>

                <br><br>
                        <a href="{{ path('espace_plateau') }}"> Retourner à l'espace plateau </a>

            </div>
        </section>

        {% endblock %}
