{% extends 'base.html.twig' %}

{% block body %}
		

			<div id="wrapper">
                
                <canvas id="canvas" >Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.</canvas>
				
			</div>

            {% block plateau %}
            <link rel="stylesheet" href="{{asset('tilemap/css/style.css')}}" />

            <script>
            var assetsBaseDir = "{{ asset('tilemap/') }}"
            </script>
            <script type="text/javascript" src="{{asset('tilemap/js/XmlHttpRequest.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Map.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Personnage.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Tileset.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/classes/Map.js')}}"></script>
            <script type="text/javascript" src="{{asset('tilemap/js/rpg.js')}}"></script>
            {% endblock %}
            
{% endblock %}